body {
  font: 1.2rem Helvetica, Arial, sans-serif;
  background: #475263;
  padding: 0;
  margin: 0;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;

  .top {
    width: 100%;
    height: 35%;
    display: flex;
    flex-flow: column;

    .message-section {
      width: 100%;
      overflow-y: scroll;
      background: #6b7686;
      flex: 1 1 auto;
      border-radius: 5px;

      #message {
        padding: 10px;
        white-space: pre;
        color: #2e3440;
      }
    }

    .button-section {
      width: 100%;
      padding: 10px 0;
      text-align: center;
      flex: 0 1 auto;

      .button {
        display: inline-block;
        background-color: transparent;
        border: 2px solid #2e3440;
        border-radius: 5px;
        color: #2e3440;
        cursor: pointer;
        font-size: 1rem;
        line-height: 20px;
        padding: 4px 15px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
      }

      .button:hover {
        background-color: #2e3440;
        color: #475263;
      }

      .button:active {
        background-color: #2e3440;
        color: #475263;
      }
    }
  }

  .bottom {
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: column;

    .label-section {
      height: 1.5rem;
      display: flex;
      width: 100%;
      background: #2e3440;
      border-radius: 5px;

      .label {
        width: 50%;
        line-height: 1.5rem;
        text-align: center;
        color: #475263;
        font-size: 0.9rem;
      }

      margin-bottom: 4px;
    }

    .editor-section {
      width: 100%;
      height: 100%;
      display: flex;

      .editor-container {
        width: 50%;
        height: 100%;
        position: relative;

        .editor {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: none;
          border-radius: 5px;
        }

        #editor-l {
          margin-right: 2px;
        }

        #editor-r {
          margin-left: 2px;
        }
      }
    }
  }
}